body{
    background-color: #faf8f8 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.firstbox {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-text {
    position: absolute;
    top: 60%;
    color: black;
    padding: 50px;
    font-size: 26px;
}


.secondbox{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    position: absolute;
    color: black;
    padding: 40px;
    top: 150px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
  }

#three{
    margin-top:20px;
    margin-bottom:20px;
}

.container{
    margin-top:20px;
    margin-bottom:40px;
}

@media only screen and (min-width:600px  ) {
    .img-fluid {
        height: 500px !important;
    }

    .banner {
        top: 0px;
    }
    .banner h5{
        font-size: 16px;
        font-weight: 500;
    }
    
}